.small {
  font-size: 24pt;
}

img {
  border-width: 0 !important;
}

/* iframe { width: 55%; margin-left: -27%; }
iframe { zoom: 2.5; -moz-transform: scale(2.5); -moz-transform-origin: 0 0;} */
iframe {
  width: 100%;
  margin-top: 100px;
  margin-bottom: -100px;
  -webkit-transform:scale(2.0);
  -moz-transform:scale(2.0);
  -o-transform:scale(2.0);
  -ms-transform:scale(2.0);
}
